.header {
  &__base {
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    height: 80px;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid  rgb(21, 94, 150);

    .component__innerWrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 60px 0 30px
    }
  }
  &__hl {
    &--hidden {
      display: none;
      visibility: hidden;
    }
  }
  &__logo {
    max-width: 200px;

    img {
      width: 100%;
    }

    @media(max-width: 600px) {
      max-width: 120px;
      margin-top: 20px;
    }
  }
  &__link {
    transition: all 0.5s ease-in-out;
    padding: 7px 15px;
    border: 1px solid transparent;
    background-color: rgb(21, 94, 150);
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 27px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;

    @media(max-width: 600px) {
      font-size: 14px;
    }

    &:active,
    &:visited {
      color: #FFFFFF;
    }
    &:hover,
    &:focus {
      background-color: ©;
      color: rgb(21, 94, 150);
      border: 1px solid rgb(21, 94, 150);;
    }
  }
}