.header {
  &__base {
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    height: 80px;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid  rgb(21, 94, 150);

    .component__innerWrapper {
      display: flex;
      justify-content: space-between;
    }
  }
  &__hl {
    &--hidden {
      display: none;
      visibility: hidden;
    }
  }
  &__logo {
    max-width: 120px;
    @media(max-width: 600px) {
      max-width: 80px;
    }
  }
  &__link {
    transition: all 0.5s ease-in-out;
    padding: 7px 15px;
    border: 1px solid transparent;
    background-color: rgb(21, 94, 150);
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;

    &:hover,
    &:focus {
      background-color: #FFFFFF;
      color: rgb(21, 94, 150);
      border: 1px solid rgb(21, 94, 150);;
    }
  }
}